<div class="center">
  <div>
    <div class="left">
      <h1> Landmark Name </h1>
      <p>gsibhgbkhgkdsbgigubekrgn njghbjgnlkjgejg savydfbsbDn.ifauaphfbkshbdnkjsgihkgbagj.sghdgouhbkajgakjsf</p>
    </div>
    <div class="right">
      <img src="https://png.pngtree.com/element_pic/16/12/27/3c62fed35c5a213e5ef31203e197833f.jpg"  width="" height="" >
    </div>
  </div>
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/2000px-Star_icon_stylized.svg.png" width="20px" height="20px">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/2000px-Star_icon_stylized.svg.png" width="20px" height="20px">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/2000px-Star_icon_stylized.svg.png" width="20px" height="20px">
  </div>
</div>